html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
button[type="button"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
select,
input[type="text"] {
  width: 150px;
  height: 26px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#Content > header {
  flex: 0 0 50px;
  background-color: #0767b8;
  display: flex;
  justify-content: center;
}
#Content > header > p {
  color: white;
  font-size: 28px;
  font-weight: bold;
  align-self: center;
}
#Content > main {
  flex: 4 1 auto;
  display: flex;
}
#Content > main > aside {
  flex: 0 0 400px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
#Content > main > aside > .input-group {
  flex: 0 0 50px;
  border-bottom: 1px solid #ccc;
}
#Content > main > aside > .input-group span {
  font-weight: bold;
}
#Content > main > aside > .samples {
  flex: 1 0 auto;
}
#Content > main > section {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
#Content > main > section > .annotation {
  flex: 0 0 50px;
  border-bottom: 1px solid #ccc;
}
#Content > main > section > .annotation > p {
  margin: 8px;
  display: inline-block;
  width: 900px;
}
#Content > main > section > .annotation > .clear-button {
  display: inline-block;
  float: right;
  width: 120px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#Content > main > section > .annotation > .clear-button > button {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
#Content > main > section > .main-area {
  flex: 1 0 auto;
  display: flex;
}
#Content > main > section > .main-area > .draw-area,
#Content > main > section > .main-area .result-area {
  flex: 0 0 500px;
}
#Content > main > section > .main-area > .draw-area > canvas,
#Content > main > section > .main-area .result-area > canvas {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  width: 420px;
  height: 400px;
  background-color: #dddddd;
}
#Content > main > section > .main-area > .result-area {
  flex: 1 0 auto;
}
#Content > main > section > .operation-area {
  flex: 0 0 130px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding-top: 4px;
}
#Content > main > section > .operation-area .bar {
  flex: 1 0 40px;
  padding-left: 20px;
}
#Content > main > section > .operation-area .bar > input {
  padding-left: 8px;
}
#Content > main > section > .operation-area .bar > button {
  padding-left: 8px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
